mat-toolbar {
    position: fixed;       /* Fija el toolbar en la parte superior */
    top: 0;                /* Lo coloca en la parte superior */
    left: 0;               /* Lo coloca en el borde izquierdo */
    width: 100%;           /* Hace que el toolbar ocupe todo el ancho de la pantalla */
    z-index: 1000;         /* Asegura que esté por encima de otros elementos */
}

.toolbar-container{
    /*background-color:red;*/
    height: 64px;
    margin-bottom: 1rem;
}